
@font-face {
	font-family: 'Pretendard';
	src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body {
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
	font-size: 16px; 
}

:root {
    --main-width: 900px;
}
